body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.box {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: rgb(0, 0, 0);
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.box2 {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: black;
  margin-top: 32px;
  animation: moveBox 300ms cubic-bezier(0.25, 0.1, 0.25, 0.1) alternate;
}

@keyframes moveBox {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
